* {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 1010px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header {
    margin: 32px 0;
    width: 100%;
}

.search-bar {
    width: 95%;
    margin-left: 16px;
    margin-bottom: 8px;
}

.main {
    flex: 1 1 auto;
}